/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* pour enlevé la scroll barre du canevas particules.js*/
canvas {
  display: block;
}

/* ---- mon CSS ----*/
html,
body {
  width: 100%;
  height: 100%;
  background: #000000;
}

/* font utilise par défaut dans les pages + image de fond*/
body {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('image/Code_2.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* style des balise lien du menu */
a,
a:active,
a:focus {
  position: relative;
  padding: 20px 10px;
  background: transparent;
  border-color: transparent;
  font-weight: 300;
  margin: 0 2px;
  color: #fff;
  text-decoration: none;
}

/* enleve la puce devant le lien*/
li {
  list-style: none;
}

/* balise de titre principal*/
h1 {
  color: #ffffff;
  font-size: 2.5em;
  padding: 20px;
}

h2 {
  color: #5B5DA9;
  font-size: 2.2em;
  padding: 28px;
}

h3 {
  color: #5B5DA9;
  padding: 18px;
  padding-top: 30px;
  font-size: 1.7em;
}

h4 {
  color: #ffffff;
  padding: 14px;
  font-size: 1.5em;
}

h5 {
  color: #ffffff;
  padding: 15px;
  font-size: 1.35em;
}

h6 {
  color: #000000;
  padding: 15px;
  font-size: 1.25em;
}

/* codepen */
article {
  width: 320px;
  margin: 10px 10px;
  background: white;
  border-bottom: 10px solid darken(#EDEDED, 10%);
  border-radius: 3px;
  position: relative;
  float: left;
}
article .article-title {
  font-weight: 200;
}
article .article-header {
  position: relative;  
  padding: 0;
  margin: 0;
  height: 150px;
  overflow: hidden; 
}
article .article-header .inner {
  position: relative;    
  transform: translateY(-50px);
  transition: transform .5s ease; 
}

article:hover .article-body .span1 {
  opacity: 1;
}
article .article-header img {
  width: 380px;
}
article .article-body {
  position: relative;  
  padding: 20px 20px;
}
article .article-body .span1 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #026cdf;
  color: #FFF;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.p2 {
  color:#000;
  margin-bottom: 30px;
}
/* codepen */


/* style des champs de saisi */
input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  vertical-align: middle;
}

/* utiliser pour positionner le menu */
.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

/* centre de la page*/
.centre {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ededed;
  color: #646464;
}

.entete {
  height: 250px;
}

.a-nom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.a-lien {
  display: inline;
  text-decoration: none;
}

.boutton {
  display: inline-block;
  margin: 20px 10px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  width: 170px;
  color: #000;
  text-align: center;
}
.btn-referentiel {
  width: 140px;
}
/* position du menu navigation */
.navigation {
  display: flex;
  /* réparti les element à chaque extrémité*/
  justify-content: space-between;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.35em;
  align-items: center;
  padding: 5px 25px;
  /* on centre le menu */
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.mnu-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.div-navigation {
  padding: 15px;
}

/* icon du bouton menu*/
.btn-navigation {
  display: none;
}

.referentiel {
  margin: 20px;
  padding: 5px;
}

.icon_contact {
  width: 25px;
  vertical-align: middle;
  padding: 2px 5px;
  padding-right: 5px;
}

.icon-tel {
  padding-left: 14%;
}
.icon-gmail {
  padding-left: 20%;
}
.icon-Linkedin {
  padding-left: 20%;
}

.svg-menu {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* https://cssicon.space/*/
.menu {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

/* position des titres des pages */
.titre {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
}

.contenu {
  position: absolute;
  top: 250px;
  width: 100%;
  left: 0;
  text-align: center;
  height: calc(100% - 250px);
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
}

.contenu2 {
  position: absolute;
  top: 150%;
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  height: 70%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
}

.contenu3 {
  position: absolute;
  top: 250%;
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  height: 70%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
}

.contenu-contact {
  position: absolute;
  top: 25%;
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  height: 70%;
  background-color: #000;
  color: #fff;
  line-height: 1.8em;
  display: grid;
  place-items: center;
  height: 80vh; /* Pour centrer verticalement aussi */
}

.lien_SA {
  text-decoration: underline;
}

.div-contenu {
  max-width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.div-contenu2 {
  max-width: 1024px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 45px;
  display: flex;
}

.colonnes {
  display: flex;
}


.colonne2 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;

  max-width: 50%;

  padding: 10px;
  box-sizing: border-box;
}
.colonne2-KA-video {
  width: 200%;
  height: auto;
  flex: 1;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.colonne2-KA-text {
  background-color: #000000;
  flex: 1;
  padding: 20px;
}
.colonnesKA {
  display: flex;
  position: relative;
  
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
video {
  width: 100%;
  height: auto;
}

.colonne3 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33%;

  max-width: 33%;

  padding: 10px;
  box-sizing: border-box;
}

.saisi-contact {
  padding: 10px;
  box-sizing: border-box;

}

.span-envoi {
  margin-left: 10px;
  opacity: .65;
}

.btn-envoi {
  background: #026cdf;
  border-color: #026cdf;
  color: #fff;
  font-size: 16px;
  padding: 9px 34px;
  line-height: 25px;
  border: none;
}

.paragraphe {
  font-size: 1.25em;
  text-align: center;
  margin: 15px;
}

.info {
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #D3D3D3;
  line-height: 1.6em;
  font-size: 14px;
}
.info-VT {
  margin-bottom: 14px;
  margin-top: 20px;
  font-size: 15px;
}



/*aaaa*/

#contact {
  width: 100%;
  height: 100%;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5em;
  position: absolute;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px Arial, Helvetica, sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.contact-text {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}



.li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
/*aaaa*/


/* quand la taille de l'écran est inferieur à 800 pixel*/
@media screen and (max-width: 900px) {
  body {
    font-size: 80%;
    /* reduction de la taille des fonts quand l'écran est plus petit*/
  }

  .boutton {
    display: block;
    margin: 12px auto 12px auto;
    width: 155px;
  }
  .btn-referentiel {
    width: 120px;
  }
  li>a,
  li>:active,
  li>a:focus {
    border-top: solid 1px #fff;
    padding: 10px;
  }

  a,
  a:active,
  a:focus {
    display: block;
  }

  .navigation {
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
  }

  .div-navigation {
    display: flex;
    flex-basis: 100%;
  }

  .mnu-navigation {
    display: inline-block;
    border-bottom: solid 1px #fff;
  }

  .btn-navigation {
    display: block;

    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
  }

  /* cache le menu */
  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .colonnes {
    display: block;
  }

  .colonne2 {
    max-width: 100%;
    height: 100%;
  }

  .colonne3 {
    max-width: 100%;
    height: 100%;
  }

  .contenu2 {
    top: 220%;
    width: 100%;
    height: 100%;
  }

  .div-contenu2 {
    display: block;
  }
}